<div class="row">
    <ul class="thumbnails">
        <li ng-repeat="contact in contacts">
            <div class="row product">
                <div class="well small9">
                    <h4 class="well-title">{{contact.Name}}</h4>
                    <p class="well-title">{{contact.Address1}}</p            
                    <p class="well-title">{{contact.Address2}}</p>
                    <p class="well-title">{{contact.Town}}</p>
                    <p class="well-title">{{contact.County}}</p>
                    <p class="well-title">{{contact.PostCode}}</p>
                    <p class="well-title">{{contact.Contact}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>

