<tabset>
    <tab ng-repeat="product in products" heading="{{product.ProductName}}">
      <div class="well small9">{{product.ProductDescription}}</div>
        <div id="carouselProducts" class="carousel slide" data-ride="carousel">
        <div ng-repeat="image in product.Images" class="well small9">               
            <div class="carousel-inner">
             <div class="item active">
                 <img src="{{image.ImageURL}}" alt="{{image.Description}}" />
                {{image.ImageName}}<br />
                {{image.PricePerUnit}}
              <div class="carousel-caption">
              </div>
            </div>
           </div>
         </div>
      </div>            
    </tab>
</tabset>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48529734-1', 'milkandtwoveg.co.uk');
    ga('send', 'pageview');

    </script>
